.project {
    width: 35%;
}

img {
    width: 100%;
    border-radius: 15px;
}

.project:hover {
    width: 40%;
}

@media (max-width: 750px) {
    .project {
        width: 25%;
    }

    .project:hover {
        width: 30%;
    }
}